# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de configuración de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de log
*.log

# Ignorar archivos de entorno
.env

package-lock.json

package.json
